.cocktail-section {
    text-align: center;
}

.drink {
    width: 85vw;
    max-width: 1170px;
    margin: 0 auto;
    text-align: left;
}

.drink img {
    border-radius: 0.25rem;
}

.drink p {
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.8;
    color: #fff;
}

.drink span {
    margin-right: 0.5rem;
}

.drink-data {
    background: #007bff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: #fff;
}

.drink-info {
    padding-top: 2rem;
}

.home-container h2 {
    color: #fff;
    margin-top: 200px;
    text-align: center;
}

.contact-message {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-message p {
    color: #fff;
    margin-bottom: 1.25rem;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    margin-top: 200px;
    text-align: center;
}


@media screen and (min-width: 992px) {
    .drink {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 3rem;
        align-items: center;
    }

    .drink-info {
        padding-top: 0;
    }
}